*{
    text-decoration: none;
    margin: 5px;
}

.navs{
    text-decoration: none;
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
}
.navigation{  
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    width: auto;
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 5px;
}
.social{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-top: 10px;
}
img{
    float: left;
    width: 500px;
    height: 500px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.work{
    clear: left;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    align-content: justify;
    margin-top: 25px;
}
.tandc{
    margin-bottom: 5px;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: rgb(163, 163, 67);
}
